ol/*************************************
 * Windows Theme                     *
 * Author: Evgeniy                    *
 * Based on: Firefox Strata Aero     *
 *************************************/

*[html-link-look="false"]
{
    color: palette(link);
    text-decoration: underline;
}

/*MainWindow*ЦВЕТ меняеТМ ТУТ*/
#mainwindow
{
     background : #3a3a3b;
	border-top: 3px solid #3a3a3b;
}

QMenu {
	background-color: #3a3a3b;
	border-radius: 5px;
	border: 1px solid black;
	color: white;
 }

QMenu::item:selected {
    background-color: #EE82EE;
    color: black;
}

LocationCompleterView {
	background-color: #3a3a3b;
	border-radius: 10px;
		color: white;
}

QListView {

	border-radius: 5px;
    background: #474747; /*downloads background*/
    alternate-background-color: #474747; /*downloads and pref extensions alt color*/
    color: white; /*may take over qlabel*/
    font: normal 12px;
}

QListView::item:selected {
    border-radius: 5px;
	
	background: #363232;
    color: white;
}

QListView::item:hover {
	border-radius: 5px;
	border: 1px solid grey;
    background: #7e7d7f;
	    color: white;
}


#statusbar-ip-label
{
    padding-right: 1px;
	
}


/*NavigationBar*/
#navigationbar
{   
    qproperty-layoutMargin: 3;
    qproperty-layoutSpacing: 3;
	
}

#navigationbar QSplitter::handle
{
    background-color:transparent;
	
}

#navigationbar QSplitter
{ 

  
    min-width: 2px;
	
}

#navigation-button-back
{background: #3a3a3b;
	 margin-left: 158px;
	qproperty-iconSize: 20px;
    qproperty-themeIcon: "go-previous";
}

#navigation-button-next
{background: #3a3a3b;
	qproperty-iconSize: 20px;
    qproperty-themeIcon: "go-next";
}

#navigation-button-stop
{background: #3a3a3b;
	qproperty-iconSize: 20px;
    qproperty-themeIcon: "process-stop";
}

#navigation-button-reload
{background: #3a3a3b;
	qproperty-iconSize: 20px;
    qproperty-themeIcon: "view-refresh";
}

#navigation-button-home
{background: #3a3a3b;
	qproperty-iconSize: 20px;
    qproperty-themeIcon: "go-home";
}

#navigation-button-addtab
{background: #3a3a3b;;
    qproperty-fixedsize: 15px 15px;
       qproperty-fallbackIcon: url(images/addp1.svg);
}

#navigation-button-tools
{background: #3a3a3b;
	qproperty-fixedsize: 15px 15px;
    qproperty-themeIcon: "arrow-right-double";
    qproperty-fallbackIcon: url(images/tools.svg);
}

#navigation-button-exitfullscreen
{background: #3a3a3b;;
    qproperty-themeIcon: "view-restore";
    qproperty-fallbackIcon: url(images/exit-fullscreen.svg);
}

#navigation-button-supermenu
{background: #3a3a3b;
    qproperty-themeIcon: "application-menu";
    qproperty-fallbackIcon: url(images/menu.svg);
	qproperty-fixedsize: 15px 15px;
}

#navigation-toolbutton-badge
{background: #3a3a3b;;
    background: palette(dark);
    color: palette(bright-text);
    margin: 0px 1px;
	
}

ToolButton[button-id="button-downloads"]
{
    qproperty-themeIcon: "edit-download";
}

/*TabWidget*/
/*TabWidget*/
#tabbar-button-right
{background: #3a3a3b;
    qproperty-themeIcon: "arrow-right";
    qproperty-fallbackIcon: url(images/tab-right-arrow.svg);
    qproperty-fixedsize: 15px 25px;
}

#tabbar-button-left
{
    qproperty-themeIcon: "arrow-left";
    qproperty-fallbackIcon: url(images/tab-left-arrow.svg);
    qproperty-fixedsize: 15px 25px;
}

#tabwidget-button-opentabs
{ background: #3a3a3b;
    qproperty-themeIcon: "go-down";
    qproperty-fixedsize: 20px 29px;
}

#tabwidget-button-closedtabs
{background: #3a3a3b;
    qproperty-themeIcon: "user-trash-full";
    qproperty-fixedsize: 19px 19px;
}

#tabwidget-button-addtab[outside-tabbar="false"]
{
    background: #3a3a3b;
		qproperty-fixedsize: 23px 23px;
    qproperty-themeIcon: "list-add";
}

#tabwidget-button-addtab[outside-tabbar="false"]:hover
{
    background: #404040;
}

#tabwidget-button-addtab[outside-tabbar="false"]
{
    qproperty-themeIcon: "list-add";
    qproperty-fixedsize: 20px 25px;
}

TabBarTabMetrics
{
    qproperty-pinnedWidth: 32;
}

#tabbar
{background: #3a3a3b;
    min-height: 28px;
    max-height: 28px;
	
   
	
		border: none;
	color: #FFFFFF;
	
    qproperty-tabPadding: 3;
    qproperty-baseColor: transparent;
}
/*Кнопки цвет*/
#tabbarwidget
{ 
    background: #3a3a3b;
	color: #FFFFFF;
	border: none;
	 
}

#tab-icon
{
    padding-right: 5px;
    padding-left: 3px;
    min-width: 9px;
    max-width: 9px;
    background: transparent;
}


#combotabbar_tabs_close_button
{
    max-width: 9x;
    max-height: 9px;
    min-width: 9px;
    min-height: 9px;
    padding-right: 2px;
}

#tabbar::close-button
	
{       image: url(images/tab-close-haSA.svg);
	
}

#tabbar::close-button:hover
{	
	image: url(images/tab-close.svg);
}

#tabbar::close-button:pressed
{
    image: url(images/tab-close-h.svg);
}
/*Настройки вкладок*/
#tabbar::tab
{
	   height: 23px;
}

#tabbar::tab:selected
{
	
	font: normal 12px;
    background : #474747;
   
	border-radius: 5px;
	
	 
	
	
}

#tabbar::tab:!selected
{
     background : #3a3a3b;
   font: normal 12px;
	color: #ababab;
   
	 border-left: none;
	 border-right: none;
}

#tabbar::tab:!selected:hover

{	font: normal 12px;
    background : #424242;
	    	border-radius: 5px 5px 5px 5px;
	
}
	
	

#tabbar::tab:selected:!first
{
    margin-left: -1px;
}

#tabbar::tab:!selected:!first
{
    margin-left: -1px;
}

#tabbar::tab:!selected:!first:hover
{
    margin-left: -1px;
}

#tabbar::tab:selected:first
{
    margin-left: 0;
}

#tabbar::tab:!selected:first
{
    margin-left: 0;
}

#tabbar::tab:selected:only-one
{
    margin-left: 0;
}

#tabbar::tab:!selected:only-one
{
    margin-left: 0;
}

#tabbar::tab:!selected:hover:only-one
{
    margin-left: 0;
}


/*IconProvider*/
IconProvider
{
    qproperty-bookmarkIcon: url(images/star-a.svg);
	color: #FFFFFF;
}

/*LocationBar*/
#locationbar

{
    background: #474747;
	color: #FFFFFF;
    /*margin-left: 130px;*/
	
    border-radius: 6px;
	
    min-height: 16px;
    qproperty-leftMargin: 35;
	qproperty-fixedsize: 750px 26px;
}


#locationbar-bookmarkicon
{
	color: #FFFFFF;
	
    qproperty-themeIcon: "rating-unrated";
    qproperty-fallbackIcon: url(images/star.svg);
    qproperty-fixedsize: 16px 16px;

}

#locationbar-bookmarkicon[bookmarked="true"]
{
	color: #FFFFFF;
    qproperty-themeIcon: "rating";
    qproperty-fallbackIcon: url(images/star-a.svg);
    qproperty-fixedsize: 16px 16px;
}

#locationbar-siteicon
{
    border-image: url(images/transp.png);
    qproperty-fixedwidth: 25;
    min-height: 15px;
    padding-left: 15px;
}

#locationbar-goicon
{
    qproperty-themeIcon: "go-jump-locationbar";
    qproperty-fallbackIcon: url(images/goto.svg);
    qproperty-fixedsize: 12px 12px;
}

#locationbar-down-icon
{
    qproperty-themeIcon: "go-down";
    qproperty-fixedsize: 12px 16px;
}

#locationbar-autofillicon
{
    qproperty-themeIcon: "user-identity";
    qproperty-fallbackIcon: url(images/user.svg);
    qproperty-fixedsize: 12px 12px;
}

/*BookmarksToolbar*/
#bookmarksbar QToolButton
{
	color: #FFFFFF;
    border-image: url(images/transp.png);
    border-width: 0px;
    height: 15px;
}

/*SideBar*/
#sidebar
{
    background: transparent;
}

#sidebar-splitter::handle
{
    background-color:transparent;
}

/*WebSearchBar*/
#websearchbar
{
    background: #3a3a3b;
	color: #FFFFFF;
    border: 1px solid #5B5B5B solid;
    qproperty-leftMargin: 27;
}

#websearchbar-searchbutton
{background: #3a3a3b;
    qproperty-fixedsize: 20px 16px;
    qproperty-themeIcon: "edit-find";
}

#websearchbar-searchprovider-combobox
{	background: #3a3a3b;
    border-image: url(images/transp.png);
    qproperty-fixedwidth: 25;
    min-height: 25px;
    padding-left: 4px;
}

/*SearchToolbar*/
SearchToolBar #lineEdit[notfound="true"]
{
    background:#3a3a3b;
}

/*AboutDialog*/
AboutDialog #label
{
    background: palette(window);
}

AboutDialog #textLabel
{
    background: palette(window);
}

/*DesktopNotification*/
DesktopNotification
{
    background: #31363b;
}

DesktopNotification #frame
{
    border: 1px solid #696d71;
    padding: 9px;
}

DesktopNotification #heading
{
    font: bold;
    color: #c2c7c7;
}

DesktopNotification #text
{
    color: #e7ebeb;
}

/*BrowsingLibrary*/
BrowsingLibrary #tabs
{
    qproperty-bgPixmap: url(images/library-bg.png);
}

BrowsingLibrary #frame
{
    background: url(images/library-bg.png);
}

/*JavaScript Dialogs*/
#jsFrame
{
    background: url(images/semi-transp.png);
}

QFrame[js-frame="true"]
{
    border: 1px solid  #3a3a3b;
    border-bottom: 0px;
    background-color: #3a3a3b;
}

QFrame[js-frame2="true"]
{
    
    border-top: 0px;
    background-color: #424242;
}

/*Scrollbar*/
QScrollBar:vertical {
    background: #424242;
	border-radius: 5px;
    width: 14px;
    margin: 14px 0 14px 0;
}
QScrollBar::handle:vertical {
  border-radius: 5px;
    background: grey;
    min-height: 15px;
}
QScrollBar::handle:vertical:pressed {
    background: #aba4a4;
    min-height: 15px;
	border-radius: 5px;
}
QScrollBar::add-line:vertical {
       background: #424242;
    height: 12px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
	    background: #424242;
    height: 12px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    width: 8px;
    height: 8px;
    background: #424242;
}
QScrollBar::up-arrow:vertical:hover, QScrollBar::down-arrow:vertical:hover{
	width: 8px;
    height: 8px;
	background: #424242;
}
QScrollBar::up-arrow:vertical:pressed, QScrollBar::down-arrow:vertical:pressed {
    width: 8px;
    height: 8px;
	background: #424242;
}
QToolTip {
	background: #161617;
	/*border-radius: 5px;*/
	/*border: 2px solid #232729;*/
	/*padding: 1px;*/
	color: white;
	border-radius: 3px;
	border: 1px solid black;
  
}
/*WebView*/
WebView {
    background: #424242;
}




