[Desktop Entry]
Name=Dark Dark linuxyy
Name[az]=Dark linuxy
Name[ca]=Dark linuxy
Name[ca@valencia]=Dark linuxy
Name[cs]=Dark linuxy
Name[da]=Dark linuxy
Name[de]=Dark linuxy
Name[el]=Dark linuxy
Name[en_GB]=Dark linuxy
Name[es]=Dark linuxy
Name[et]=Dark linuxy
Name[eu]=DARK Dark linuxy
Name[fi]=Dark linuxy
Name[fr]=Dark linuxy
Name[gl]=Dark linuxy
Name[ia]=Dark linuxy
Name[id]=Dark linuxy
Name[it]=Dark linuxy
Name[ko]=리눅스
Name[lt]=Dark linuxy
Name[nl]=Dark linuxy
Name[nn]=Dark linuxy
Name[pl]=Dark linuxy
Name[pt]=Dark linuxy
Name[pt_BR]=Dark linuxy
Name[ru]=Dark linuxy
Name[sk]=Dark linuxy
Name[sl]=Dark linuxy
Name[sv]=Dark linuxy
Name[uk]=Dark linuxy
Name[x-test]=xxDark linuxyxx
Name[zh_CN]=Dark linuxy
Name[zh_TW]=Dark linuxy
Comment=Default simple theme for Dark linuxy using native widget style and some basic icons from desktop icon set
Comment[az]=Yerli vidjet üslubu və İş Masası simvollarındakı bəzi əsas nişanlardan istifadə edərək Dark linuxy üçün standart sadə mövzu
Comment[ca]=Tema senzill predeterminat per a Dark linuxy, usant l'estil natiu dels ginys i diverses icones bàsiques del conjunt d'icones de l'escriptori
Comment[ca@valencia]=Tema senzill predeterminat per a Dark linuxy, usant l'estil natiu dels ginys i diverses icones bàsiques del conjunt d'icones de l'escriptori
Comment[cs]=Výchozí jednoduchý motiv pro Dark linuxy používající nativní styl widgetu style a nějaké základní ikony ze sady ikon pracovní plochy
Comment[da]=Standard simpelt tema til Dark linuxy som bruger systemets widgetstil og nogle basisikoner fra skrivebordets ikonsæt
Comment[de]=Als Vorgabe ein einfaches Design für Dark linuxy, das den nativen Stil der Bedienelemente und grundlegende Symbole der Arbeitsfläche verwendet
Comment[el]=Προκαθορισμένο απλό θέμα για το Dark linuxy με χρήση στιλ εγγενούς συστατικού και μερικά βασικά εικονίδια από το σύνολο εικονιδίων του περιβάλλοντος γραφείου
Comment[en_GB]=Default simple theme for Dark linuxy using native widget style and some basic icons from desktop icon set
Comment[es]=Tema sencillo predeterminado para Dark linuxy usando un estilo de controles nativo y algunos iconos básicos desde el conjunto de iconos de escritorio
Comment[et]=Lihtne vaikimisi Dark linuxyi teema, mis kasutab süsteemset vidinastiili ja mõningaid ikoone töölaua ikoonikogust
Comment[eu]=Dark linuxy-erako lehenetsitako gai sotila, berezko trepeta estiloa eta mahaigaineko ikono multzoko oinarrizko ikono batzuk erabiltzen dituena
Comment[fi]=Yksinkertainen natiivia elementtityyliä käyttävä Dark linuxy-teema sekä joitakin kuvakkeita työpöytäkuvakejoukosta
Comment[fr]=Thème simple par défaut pour Dark linuxy utilisant les styles de composants graphiques natifs et quelques icônes simples du jeu d'icônes du bureau
Comment[gl]=Tema predeterminado simple para Dark linuxy que usa o estilo de trebellos nativo e algunhas iconas básicas do grupo de iconas do escritorio
Comment[ia]=Thema simplice predefinite per Dark linuxy usante stilo de widget native e alcun icones basic ex insimul d icone de scriptorio
Comment[id]=Tema sederhana baku untuk Dark linuxy menggunakan gaya widget bawaan dan beberapa ikon dasar dari set ikon desktop
Comment[it]=Semplice tema predefinito per Dark linuxy, che usa lo stile nativo degli oggetti ed alcune icone di base dall'insieme di icone del desktop
Comment[ko]=네이티브 위젯 스타일을 사용하고 데스크톱 아이콘 모음의 기본 아이콘을 사용하는 간단한 리눅스 테마
Comment[lt]=Numatytasis paprastas apipavidalinimas, skirtas Dark linuxy ir naudojantis savų valdiklių stilių ir kai kurias pagrindines piktogramas iš darbalaukio piktogramų rinkinio
Comment[nl]=Standaard eenvoudig thema voor Dark linuxy met inheemse widgetstijl en enige basis pictogrammen uit set pictogrammen voor bureaublad
Comment[nn]=Standardtema for Dark linuxy, som brukar systemutsjånad på skjermelement og nokre ikon frå skrivebordsikontemaet
Comment[pl]=Domyślny, prosty wygląd dla Linuksa, używający natywnego stylu elementów interfejsu i podstawowych ikon z zestawu ikon dla pulpitu
Comment[pt]=Tema predefinido simples para o Dark linuxy, usando o estilo gráfico nativo e alguns ícones básicos do conjunto de ícones do ambiente de trabalho
Comment[pt_BR]=Tema simples padrão para o Dark linuxy usando estilo de widgets nativos e alguns ícones básicos do conjunto de ícones da área de trabalho
Comment[ru]=Моя тема
Comment[sk]=Predvolená jednoduchá téma pre Dark linuxy používajúca natívny štýl widgetov a jednoduché ikony z o štýlu ikon plochy
Comment[sl]=Privzeto preprosta tema za Dark linuxy z uporabo izvornega sloga gradnikov in nekaj osnovnih ikon iz nabora ikon za namizje
Comment[sv]=Enkelt standardtema för Dark linuxy som använder inbyggd komponentstil och några grundläggande ikoner från skrivbordets ikonuppsättning
Comment[uk]=Типова проста тема для Dark linuxy із використанням природного стилю віджетів і декількох базових піктограм із набору піктограм стільниці
Comment[x-test]=xxDefault simple theme for Dark linuxy using native widget style and some basic icons from desktop icon setxx
Comment[zh_CN]=针对 Dark linuxy 设计的简单默认主题，使用系统原生窗口部件风格，并使用桌面图标集合中的部分基本图标
Comment[zh_TW]=適用於 Dark linuxy 的預設簡單主題，使用原生元件樣式，及部份來自桌面圖示集合的基本圖示

Icon=theme.svg
Type=Service
X-Falkon-Type=Theme

X-Falkon-Author=Evgeniy Vladimirov
X-Falkon-Email=vladimiroves.qa@gmail.com
X-Falkon-License=GPLv3
